<!DOCTYPE hyml>
<html lang = "en">
    <head>
        <meta charset = "UTF - 8">
        <title>
            CRUD NODEJS
        </title>
        <link rel='stylesheet' href='style'>
    </head>

    <body>
        {{{body}}}

        <script src= 'javascript'></script>
    </body>
</html>